.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
    background-color: #202020; 
    color:#5dd62c;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    height: 40px;
    width: auto;
    margin-right: 10px;
  }
  
  /* App name styling */
  .app-name {
    font-size: 1.5rem;
    font-weight: bold;
    color: #5dd62c;
    letter-spacing: 0.5px;
  }
  
  /* Login button styling */
  .login-btn {
    display: flex;
    align-items: center;
  }
  
  .login-btn button {
    background-color: #333;
   border:2px solid  #337418;
    font-weight: bold;
    font-size: 1.1rem;
    color: #fff;
    border-radius: 5px;
    padding: 30px;
    text-transform: uppercase;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .login-btn button:hover {
    background-color: #5dd62c; 
    color: white;
  }
  
  @media (max-width: 768px) {
    .header-container {
      flex-direction: column;
      text-align: center;
      padding: 15px;
    }
  
    .app-name {
      margin: 10px 0;
    }
  }
  